<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="BackupRequestUri" value=""/>
    <add key="BackupStatusUri" value=""/>
    
    <add key="BackupFilesLocation" value=""/>
    <add key="BackupTargetDestination" value=""/>
    
    <!-- Include domain in username if required -->
    <add key="BackupRequestUser" value=""/>
    <add key="BackupRequestPassword" value=""/>
    
    <add key="TotalAllowedBackupTimeInSeconds" value=""/>
    
  </appSettings>
</configuration>