<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupRequestUri" value="http://HRLONTC01:7070/httpAuth/app/rest/server/backup?includeConfigs=true&amp;includeDatabase=true&amp;includeBuildLogs=true&amp;fileName=TeamCityBackup"/>
    <!-- Include domain in username if required -->
    <add key="BackupRequestUser" value=""/>
    <add key="BackupRequestPassword" value=""/>
  </appSettings>
</configuration>