<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupRequestUri" value="http://hymans\splant:Hym@ns123@HRLONTC01:7070/httpAuth/app/rest/server/backup?includeConfigs=true&amp;includeDatabase=true&amp;includeBuildLogs=true&amp;fileName=TeamCityBackup"/>
  </appSettings>
</configuration>